<%- include('../partials/header.ejs') %>

<div class="container">
    <h1>Grizzly Quizzly - Dash!</h1>
    <div>
        <h2>Your Quizzes</h2>
        <a href="/">Create Quiz</a>
    </div>
    <h3><%- user.username %></h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Submissions</th>
                <th>Average Score</th>
            </tr>
        </thead>
        <tbody>
            <%- for (const quiz of user.quizzes){ %>
                <tr>
                    <td>
                        <a href="/quiz/<%= quiz.slug %>"> <strong><%= quiz.title %></strong> </a>
                    </td>
                    <td>
                        <%= quiz.submissions.length%>
                    </td>
                    <td>
                        <% if (quiz.avgScore){%>
                            <%= quiz.avgScore.toFixed(2) %>
                        <% } %>
                    </td>
                </tr>
                <%-} %>
        </tbody>
    </table>
    <h3>hello this is the dashboard</h3>
</div>